{% extends "post-base.html" %}

{% block content_title %}Generating Polyominoes{% endblock %}

{% block post_content %}
<p>
	<ul>
		<li><a href="#ft">Fourier Transform</a></li>
		<li><a href="#disc-time-ft">Discrete Time Fourier Transform</a></li>
		<li><a href="#resources">Resources</a></li>
		<li><a href="#source">Source code</a></li>
	</ul>
</p>

<p>
	These are just notes I put on this website so that I will be able to remeber the content and be able to review it easly for later exams. This is not meant to go into full detail about the Fourier Transform, so stuff like derivations and proofs will not be included b/c deriving this stuff requires a lot more research than I'd like to do.
</p>

<h1 id="ft">Fourier Transform</h1>
<div class="well text-center">
	<h4 class="ft-eq"></h4>
	<p>The Fourier Transform of x(t)</p>
	<h4 class="inv-ft-eq"></h4>
	<p>Inverse Fourier Transform of X(f)</p>
</div>
<p>
	One of the main purposes of the Fourier Transform is to point out the dominant frequencies of a waveform. This can easily be seen with the FT of a regular sine or cosine wave.
</p>
<p class="text-center">
	<img src="/static/assets/img/cosine.png" alt="Fourier Transform of cosine wave" />
</p>
<p>
	The peaks of the FT are locate near -1 and 1 Hz which indicate these are the dominant frequencies in x(t). This makes sense since the frequency of x(t) is 1 Hz. The Inverse Fourier Transform can also be used to reconstruct waves from the calculated FT.
</p>

<p class="text-center">
	<img src="/static/assets/img/cosine2.png" />
	<p><i><small>Note: The reason the wave does not look exactly like the original is because I integrated over a finite number of frequencies rather than from minus infinity to infinity. If I increased the range of frequencies, the reconstructed wave would look more like the original.</small></i></p>
</p>

<h1 id="disc-time-ft">Discrete Time Fourier Transform</h1>
<div class="well text-center">
	<h4 class="disc-time-ft-eq"></h4>
	<p>Discrete Time Fourier Transform of x[n]</p>
	<h4 class="inv-disc-time-ft-eq"></h4>
	<p>Inverse Discrete Time Fourier Transform of X(f)</p>
</div>
<p>
	
</p>

<h1 id="resources">Resources</h1>
<ul>
	<li><a href="http://www.mechmat.ethz.ch/Lectures/tables.pdf">Fourier Transforms Table</a></li>
</ul>

<h1 id="source">Source Code</h1>
<ul>
	<li>Matlab
		<ul>
			<li><a href="https://gist.github.com/PiJoules/cae4321693638e082495">Cosine Fourier Transform</a></li>
			<li><a href="https://gist.github.com/PiJoules/7340c42995b03db2fc9e">Cosine Inverse Fourier Transform</a></li>
		</ul>
	</li>
</ul>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
	katex.render("F\\{x(t)\\} = X(f) = \\int_{-\\infty}^{\\infty} x(t)e^{-j2\\pi ft}dt", $(".ft-eq")[0]);
	katex.render("F^{-1}\\{X(f)\\} = x(t) = \\int_{-\\infty}^{\\infty} X(f)e^{j2\\pi ft}df", $(".inv-ft-eq")[0]);
	katex.render("X_{s}(f) = \\sum_{n=-\\infty}^{\\infty} x[n]e^{-j2\\pi fn}", $(".disc-time-ft-eq")[0]);
	katex.render("x[n] = \\int_{2\\pi} X_s(f) e^{j2\\pi fn} df", $(".inv-disc-time-ft-eq")[0]);
</script>
{% endblock %}