
<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html dir="ltr" lang="en-GB"class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html dir="ltr" lang="en-GB" class="no-js ie6 oldie"> <![endif]-->
<!--[if IE 7 ]>    <html dir="ltr" lang="en-GB" class="no-js ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html dir="ltr" lang="en-en-GB" class="no-js ie8 oldie"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html dir="ltr" lang="en-GB" class="no-js"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Leodis Lager | Start the conversation</title>
  <meta name="description" content="Standing for Leeds independent businesses, ideas and people, Leodis is more than just a lager, it's a community."/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="title" content="Leodis Lager | Start the conversation"/>
  <meta name="author" content="Project 53">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <!-- non-retina iPhone pre iOS 7 -->
  <link rel="apple-touch-icon" href="/assets/img/57x57.png" sizes="57x57">
  <!-- non-retina iPad pre iOS 7 -->
  <link rel="apple-touch-icon" href="/assets/img/72x72.png" sizes="72x72">
  <!-- non-retina iPad iOS 7 -->
  <link rel="apple-touch-icon" href="/assets/img/76x76.png" sizes="76x76">
  <!-- retina iPhone pre iOS 7 -->
  <link rel="apple-touch-icon" href="/assets/img/114x114.png" sizes="114x114">
  <!-- retina iPhone iOS 7 -->
  <link rel="apple-touch-icon" href="/assets/img/120x120.png" sizes="120x120">
  <!-- retina iPad pre iOS 7 -->
  <link rel="apple-touch-icon" href="/assets/img/144x144.png" sizes="144x144">
  <!-- retina iPad iOS 7 -->
  <link rel="apple-touch-icon" href="/assets/img/152x152.png" sizes="152x152">
  <!-- Win8 tile -->
  <meta name="msapplication-TileImage" content="assets/img/144x144.png">
  <meta name="msapplication-TileColor" content="#E9E9DF"/>
  <meta name="application-name" content="Leodis Lager" />
  
  <!-- IE11 tiles -->
  <meta name="msapplication-square70x70logo" content="/assets/img/70x70.png"/>
  <meta name="msapplication-square150x150logo" content="/assets/img/150x150.png"/>
  <meta name="msapplication-wide310x150logo" content="/assets/img/310x150.png"/>
  <meta name="msapplication-square310x310logo" content="/assets/img/310x310.png"/>
  
  <meta property="og:url" content="http://www.leodislager.com"/>
  <meta property="og:title" content="Leodis Lager | Start the conversation"/>
  <meta property="og:description" content="Standing for Leeds independent businesses, ideas and people, Leodis is more than just a lager, it's a community."/>
  <meta property="og:image" content=""/>
  
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link href="/assets/css/main.css?v=2" rel="stylesheet">
  
  <script src="/assets/js/min/top-min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">

<style>
.leodis-nav-logo {
  height:100%;
  width:100%;
}
</style>

</head>

<body>
  <div id="iscrolldiv">
  <div id="scroll-content">

        <header class="site-header">

          
          <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="visible-xs" href="/"><img class=" mobile-logo" src="http://i-up.co.uk/i/doc/37827a85-e9ce-4b4f-8f86-bdc721f82bab/Leodis_logo.svg" alt="Leodis Lager"> </a>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav" id="navbar-nav">
                <li><a href="/profiles">Profiles</a></li>
                <li><a href="/places">Places</a></li>
                <li><a href="/forum">Forum</a></li>
                <li class="nav-logo hidden-xs"><a href="/"><img class="img-responsive leodis-nav-logo hidden-sm" src="http://i-up.co.uk/i/doc/37827a85-e9ce-4b4f-8f86-bdc721f82bab/Leodis_logo.svg" alt="Leodis Lager"></a></li>
                <li class="diary"><a href="/about">About</a></li>
                <li><a href="/thelager">The Lager</a></li>
                <li class="getintouch"><a href="/getintouch">Get in touch</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </nav>
        </header>




  <div class="site-wrapper" id="site-wrapper">
    <div class="container-fluid" id="containing-wrapper">

      <div class="row">

      </div>


<div class="row">
  <div class="col-sm-7 col-md-8">
    <div class="forum-image">
      <div class="img forum">
      <style>
        .forum-image .img {
          background-image: url(http://i-up.co.uk/i/img/47/a6975537-f1db-42b2-b6fd-369ba59e6caf/nbh.jpg);
        }
      </style>
        
      </div>
      <div class="forum-image-overlay">
<!--         <h2>forum no &mdash; 1</h2>
        <p class="date">05/09/2014</p>
        <p class="location">Crowd of Favours</p> -->
      </div>
    </div>
  </div>

  <div class="col-sm-5 col-md-4">
    <div class="forum-content">
      <header>
        <p class="category">LEODIS EVENTS</p>
        <h3>FORUM NO — 2</h3>
        <p class="event-date">22.10.14</p>
        <p class="event-location">The midnight bell</p>
      </header>

      <p class="summary">The second Leodis Forum focussed on Leeds independent food and drink business owners talking about their experiences within the industry. If you were unable to make it to the second forum, you can watch the talks here.</p>

      <a href="/forum" class="arrow-link">→</a>

      <div class="social-media">
        <a class="share facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://leodislager.com/forum"><span class="icon-facebook"></span></a>
        <a class="share twitter" href="https://twitter.com/share?text=%40leodislager+forum+no+%e2%80%94+2+at+the+midnight+bell+on+22.10.14"><span class="icon-twitter"></span></a>
      </div>

    </div>
  </div>


  <div class="col-sm-6 col-md-4" style="z-index: 2;">
    <div class="events-calendar">
<!--       <h3>Leeds Events Calendar</h3>
      <div id="mini-clndr"></div>
      <script id="calendar-template" type="text/template">
        <div class="controls">
          <div class="clndr-previous-button">←</div><div class="month"><%= month %></div><div class="clndr-next-button">→</div>
        </div>

        <div class="days-container">
          <div class="days">
            <div class="headers">
              <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
            </div>
            <div class="whole-month">
              <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><span tabindex="<%= day.day %>"><%= day.day %></span></div><% }); %>
            </div>

          </div>
          <div class="events">
            <div class="headers">
              <div class="x-button">x</div>
              <div class="event-header">EVENTS</div>
            </div>
            <div class="events-list">

            </div>
          </div>
        </div>

      </script> -->
          <div class="twitter-feed">
      <p class="category">social</p>
      <h3>LATEST TWEETS</h3>
            <div class="tweet">
        <div class="tweet-date">23.12.14</div>Only two days until #xmas is here! What are you’re best #ChristmasMemories?      </div>
            <div class="tweet">
        <div class="tweet-date">23.12.14</div>Are you all set for #xmas? Take it easy and chill <a href="http://twitter.com/CrowdofFavours" target="_blank" title="Crowd of Favours">@CrowdofFavours</a> for a pint of your favourite #lager… ME!      </div>
            <div class="tweet">
        <div class="tweet-date">22.12.14</div>Festive fun at <a href="http://twitter.com/leedscornex" target="_blank" title="Leeds Corn Exchange">@leedscornex</a> with a #Frozen #Singalong tonight! Tickets available from <a href="http://t.co/6lzalgr494" target="_blank" title="http://sneakyexperience.co.uk">sneakyexperience.co.uk</a>      </div>
            <div class="follow"><a href="http://twitter.com/leodislager"><span class="icon-twitter"></span><span class="follow-text">FOLLOW US</span></a></div>
    </div>
  </div>
  </div>

  <div class="col-sm-6 col-md-4" style="z-index: 1;">
    <div class="calendar-content" >
      <header>
        <p class="calendardatetime">EVENTS CALENDAR</p>
      </header>
      <div class="calendar-content-copy">
        <h3 class="calendartitle">WE ARE BUILDING OUR EVENTS CALENDAR FOR NEXT YEAR</h3>
        <p class="calendardate event-date"></p>
        <p class="calendarlocation location"></p>

        <p class="calendarsummary summary">Check back here or keep an eye on our twitter for updates on when its released</p>

        <!-- Modal -->


        <div class="social-media">
          <a href="https://www.facebook.com/leodislager" class="share facebook calendar-facebook"><span class="icon-facebook"></span></a>
          <a href="https://www.twitter.com/leodislager" class="share twitter calendar-twitter"><span class="icon-twitter"></span></a>
        </div>
      </div>



    </div>
  </div>


    <div class="hidden-sm col-md-4">
      <div class="profile ">

        <div class="profile-content">
        <a href="/profiles/venkatesh-iyer">
          <div class="img" style="background-image:url(http://i-up.co.uk/i/img/696f16f3-1571-43b8-a2db-dc74e4668032/venksthumb.jpg)"></div>
        </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/venkatesh-iyer">
              <h3 class="profile-name">Venkatesh Iyer</h3>
            </a>
            <p class="profile-summary">Meet Venks, head brewer at Leeds Brewery and the man responsible for the creation of Leodis</p>
            <a href="/profiles/venkatesh-iyer" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>

  <div class="col-sm-4">
    <div class="place-content">
      <div class="place-content-copy">
        <p class="category">PLACES</p>
        <h3>CAFE LENTO</h3>
        <p class="location">North Lane, Leeds</p>

        <p class="summary">Tucked away in the heart of Headingley down North Lane exists a little known gem of a café bar and champions of quality music in the form of [name name]; the co-owners, long time married couple and full time staff at Café Lento. </p>

        <a href="/places/cafe-lento" class="arrow-link">→</a>

        <div class="social-media">
          <a class="share facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://leodislager.com/forum"><span class="icon-facebook"></span></a>
          <a class="share twitter" href="https://twitter.com/share?text=check+out+cafe+lento+on+north+lane%2c+leeds.+cheers+%40leodislager%21">
            <span class="icon-twitter"></span>
          </a>
        </div>
      </div>    
    </div>
  </div>

  <div class="col-sm-8">
    <div class="place-image">
    <style>
      .place-image .img {
          background-image: url(http://i-up.co.uk/i/img/47/fc88a667-7028-4e0a-9a59-1b589e295c07/lento3.jpg);
        }
    </style>
      <div class="img"></div>
    </div>
  </div>

        <div class="col-sm-4 ?>">
      <div class="profile ">

        <div class="profile-content">
        <a href="/profiles/alex-galantino">
          <div class="img" style="background-image:url(http://i-up.co.uk/i/img/a292570c-c992-42bd-b38e-3b5d3646a0c4/3.jpg)"></div>
        </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/alex-galantino">
              <h3 class="profile-name">Alex Galantino</h3>
            </a>
            <p class="profile-summary">We're in Alex Galantino's La Bottega today having a chat about his business and exceptional coffee</p>
            <a href="/profiles/alex-galantino" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4 ?>">
      <div class="profile Today we’re taking a few minutes out to have a chat with Tom Woolley, a freelance Illustrator currently working out of Bradford, West Yorkshire. He specialises in illustrated maps and hand lettering with a very distinctive style. ">

        <div class="profile-content">
        <a href="/profiles/tom-woolley">
          <div class="img" style="background-image:url(http://i-up.co.uk/i/img/5317b3e6-8815-4bc6-97be-0d26189719d0/thumb.jpg)"></div>
        </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/tom-woolley">
              <h3 class="profile-name">Tom Woolley</h3>
            </a>
            <p class="profile-summary">Freelance Illustrator working out of Bradford, West Yorkshire</p>
            <a href="/profiles/tom-woolley" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-4 ?>">
      <div class="profile ">

        <div class="profile-content">
        <a href="/profiles/ruth-rollin">
          <div class="img" style="background-image:url(http://i-up.co.uk/i/img/b310f4cf-898a-4156-bdfa-04662370aedd/poten.jpg)"></div>
        </a>
          <div class="profile-content-copy">
            <p class="category">profiles</p>
            <a href="/profiles/ruth-rollin">
              <h3 class="profile-name">Ruth Rollin</h3>
            </a>
            <p class="profile-summary">Today we met with Ruth Rollin to talk about Red tattoo and piercing studio in Leeds</p>
            <a href="/profiles/ruth-rollin" class="arrow-link">→</a>
          </div>
        </div>
      </div>
    </div>
    





        <div class="modal fade" id="moreeventinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title calendardatetime" id="myModalLabel"></h4>
              </div>
              <div class="modal-body">
                <h3 class="calendartitle"></h3>
                <p class="calendardate event-date"></p>
                <p class="calendarlocation location"></p>

                <p class="calendarsummarymodal summary"></p>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

  
<div class="col-sm-12">
  <div class="instagram-images">
    <div class="row">
      <div class="instagram-photo intro col-xs-6 col-sm-3 col-md-2 col-lg-2">
        <p class="category">social</p>
        <h3>INSTAGRAM</h3>
        <a href="http://instagram.com/leodislager" class="arrow-link">→</a>
      </div>

      			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2    ">
				<a href="http://instagram.com/p/tGEPG2BR7p/" target="_blank" data-toggle="tooltip" data-placement="top" title="We're all set up at @village_leeds ready to serve some leodis!"><img src="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/10684222_1475004139452036_1688348565_n.jpg" alt="We're all set up at @village_leeds ready to serve some leodis!" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2    ">
				<a href="http://instagram.com/p/szzrwhBR-2/" target="_blank" data-toggle="tooltip" data-placement="top" title="Thanks to all our speakers and we look forward to the next event in October..."><img src="http://scontent-b.cdninstagram.com/hphotos-xap1/t51.2885-15/10632241_349997245155071_954000744_n.jpg" alt="Thanks to all our speakers and we look forward to the next event in October..." class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2    ">
				<a href="http://instagram.com/p/szzgaJhR-m/" target="_blank" data-toggle="tooltip" data-placement="top" title=""><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/925970_293593114178682_1777684365_n.jpg" alt="" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2    ">
				<a href="http://instagram.com/p/szy0f6BR9l/" target="_blank" data-toggle="tooltip" data-placement="top" title=""><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10693243_727452640636471_694945385_n.jpg" alt="" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2    ">
				<a href="http://instagram.com/p/szyWKqhR8w/" target="_blank" data-toggle="tooltip" data-placement="top" title="Our first #leodisforum was a great success. More photos on the way!"><img src="http://scontent-b.cdninstagram.com/hphotos-xaf1/t51.2885-15/10617030_612533765533594_444415507_n.jpg" alt="Our first #leodisforum was a great success. More photos on the way!" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2   hidden-xs   ">
				<a href="http://instagram.com/p/sZ4ETJhR2S/" target="_blank" data-toggle="tooltip" data-placement="top" title="Here's the Leodis Forum set ready for its first outing next week... #leeds #events #independentbusiness"><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/l/t51.2885-15/10617145_299246803591164_1120604563_n.jpg" alt="Here's the Leodis Forum set ready for its first outing next week... #leeds #events #independentbusiness" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2   hidden-xs   ">
				<a href="http://instagram.com/p/rFBIiBhRwl/" target="_blank" data-toggle="tooltip" data-placement="top" title=""><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/l/t51.2885-15/10561152_650146308409712_2122241738_n.jpg" alt="" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2   hidden-xs   hidden-sm  ">
				<a href="http://instagram.com/p/rFBHSEBRwi/" target="_blank" data-toggle="tooltip" data-placement="top" title=""><img src="http://scontent-a.cdninstagram.com/hphotos-xfp1/t51.2885-15/10413901_662053660555806_1710421237_n.jpg" alt="" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2   hidden-xs   hidden-sm  ">
				<a href="http://instagram.com/p/rFBE_YBRwb/" target="_blank" data-toggle="tooltip" data-placement="top" title=""><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10576039_1612385435643745_771274918_n.jpg" alt="" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2   hidden-xs   hidden-sm  ">
				<a href="http://instagram.com/p/rFBDIihRwY/" target="_blank" data-toggle="tooltip" data-placement="top" title=""><img src="http://scontent-a.cdninstagram.com/hphotos-xaf1/t51.2885-15/10299864_607882392657655_647021681_n.jpg" alt="" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2   hidden-xs   hidden-sm  ">
				<a href="http://instagram.com/p/rFBBUShRwS/" target="_blank" data-toggle="tooltip" data-placement="top" title=""><img src="http://scontent-a.cdninstagram.com/hphotos-xpa1/t51.2885-15/10522267_771239489603135_94699678_n.jpg" alt="" class="no-retina img-responsive" /></a>
			  </div>

			  			  <div class="instagram-photo col-xs-6 col-sm-3 col-md-2 col-lg-2  hidden-md   hidden-xs   hidden-sm   hidden-lg ">
				<a href="http://instagram.com/p/rFA-yyBRwJ/" target="_blank" data-toggle="tooltip" data-placement="top" title=""><img src="http://scontent-a.cdninstagram.com/hphotos-xfa1/t51.2885-15/10584698_746536032072223_226899017_n.jpg" alt="" class="no-retina img-responsive" /></a>
			  </div>

			        </div>
    </div>
  </div>
</div>

<div class="row">
  <footer class="site-footer">

    <div class="col-sm-2 col-sm-offset-1">
      <a href="/"><img  class="footer-logo img-responsive" src="http://i-up.co.uk/i/doc/2ff39c88-17ff-42ed-95c1-23d5457e10cb/Leodis-logo-light.svg" alt="Leodis Lager"> </a>
    </div>
    <div class="col-sm-5">
      <ul class="footer-links">
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/places">Places</a></li>
        <li><a href="/forum">Forum</a></li>
        <li class="diary"><a href="/about">About</a></li>
        <li><a href="/thelager">The Lager</a></li>
        <li class="/getintouch"><a href="getintouch">Get in touch</a></li>
      </ul>

    </div>
    <div class="col-sm-4">
     <p>&copy; Copyright 2014 Leeds Brewery </p>
     <div class="site-social-media">
      <a href="https://www.facebook.com/leodislager"><span class="icon-facebook"></span></a>
      <a href="https://twitter.com/leodislager"><span class="icon-twitter"></span></a>
      <a class="social pinterest-project" href="javascript:void((function()%7Bvar%20e=document.createElement(&apos;script&apos;);e.setAttribute(&apos;type&apos;,&apos;text/javascript&apos;);e.setAttribute(&apos;charset&apos;,&apos;UTF-8&apos;);e.setAttribute(&apos;src&apos;,&apos;http://assets.pinterest.com/js/pinmarklet.js?r=&apos;+Math.random()*99999999);document.body.appendChild(e)%7D)());" data-pin-do="buttonPin" data-pin-config="above"> <span class="icon icon-pinterest"></span> </a>
    </div>
    <p>Site by <a class="p53" href="http://p53.co.uk">P53</a></p>

  </div>
</footer> <!-- Close of site container -->
</div>
</div>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="/assets/js/min/bottom-min.js?v=1"></script>
<script> (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-45651981-10', 'auto'); ga('send', 'pageview'); ga('require', 'displayfeatures');</script>



<script>
	  
</script>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

</body>
</html>