{% extends "base.html" %}

{% block content_title %}
    About me
{% endblock %}

{% block content %}
    <div class="row">
    	<div class="col-lg-8">
        	<p>
I is a software developer who works mostly on mobile and web applications. I am currently a student 
at Drexel University dual-majoring in Electrical and Computer Engineering. The programming languages I uses the most 
are Java, Python, Javascript, and PHP. In my free time, I usually enjoy doing these four things:
    		</p>
    		<ol>
    			<li>Coding</li>
    			<li>Playing TF2</li>
    			<li>Watching Anime</li>
    			<li>Browsing dank memes</li>
    		</ol>
    	</div>
    </div>
{% endblock %}
