{% extends "base.html" %}

{% block content_title %}
    Contact info
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
            <p>
Feel free to get in touch by sending an email to <strong>lc599@drexel.edu</strong>. If you're wondering why I just don't set up an actual form for sending a quick message, it's because Google App Engine charges me for that.
            </p>
            <ul>
                <li><a href="http://github.com/PiJoules">Github</a></li>
                <li><a href="https://www.linkedin.com/pub/leonard-chan/64/a84/71b">Linkedin</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
