{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-lg-8">
	{% block post_content %}{% endblock %}
	</div>
</div>

<div class="row">
	<div class="col-lg-8">
		<nav>
			<ul class="pager">
				{% if adj_posts.next %}
				<li class="previous"><a href="/post/{{ adj_posts.next.file }}"><span aria-hidden="true">&larr;</span> {{ adj_posts.next.title }}</a></li>
				{% endif %}
				{% if adj_posts.prev %}
				<li class="next"><a href="/post/{{ adj_posts.prev.file }}">{{ adj_posts.prev.title }} <span aria-hidden="true">&rarr;</span></a></li>
				{% endif %}
			</ul>
		</nav>
	</div>
</div>
{% endblock %}